#controls {
   width: 80px;
   float: left;
}

#progress {
   margin-left: 80px;
   border: 1px solid black;
}

#bar {
   height: 20px;
   background-color: green;
   width: 0;
}
button{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
